{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Career Recommendation</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <script defer src="{% static 'js/script.js' %}"></script>
</head>
<body>
    <div id="login-container">
        <section id="content">
            <form method="POST" action="{% url 'login' %}">
                {% csrf_token %}
                <h1>Login Form</h1>

                <div>
                    <input type="text" name="username" id="username" placeholder="Username" required="" />
                </div>
                <div>
                    <input type="password" name="password" id="password" placeholder="Password" required="" />
                </div>
                <div>
                    <input type="submit" value="Log in"/>
                    <a href="{% url 'password_reset' %}">Lost your password?</a>
                    <a href="{% url 'register' %}">Register</a>
                </div>
            </form>
        </section>
    </div>
    <script defer src="/static/js/script.js"></script>
    </html>