{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
<div id="password-container">
    <section id="content">
        <form action="">
            <h1>Reset Password</h1>
            <div>
                <input type="email" placeholder="Enter your email" required="" id="email"/>
            </div>
            <div>
                <input type="submit" value="Reset Password"/>
                <a href="{% url 'login' %}">Back to Login</a>
            </div>
        </form>
    </section>
</div>
<script defer src="{% static 'js/script.js' %}"></script>
</body>
</html>
